.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 60px;
}

.about-us-section p {
    text-align: center;
}

.about-us-section h2 {
    text-align: center;
}

.left-section {
    width: 45%;
    font-size: 24px;
}

.right-section {
    width: 45%;
    font-size: 20px;
}

.about-us-img {
    width: 100%;
}

.left-section h2 {
    text-decoration: underline;
}

.right-section h2 {
    text-align: center;
    text-decoration: underline;
}

.left-section button:hover, .right-section button:hover {
    background-color: black;
    color: white;
}

.p-width {
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
}