.underline-header {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
    color: black;
    }
    
    .impact-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: black;
        padding-top: 120px;
        }
        
        .impact-section .left-section {
        width: 50%;
        text-align: center;
        }
        
        .impact-section .right-section {
        width: 50%;
        text-align: center;
        }

        .impact-section .right-section h2,
        .impact-section .left-section h2 {
            font-weight: bold;
        }
        
        .impact-section .impact-img1, .impact-section .impact-img5 {
        width: 100%;
        height: auto;
        }
        
        .impact-section .separation-line-section {
        width: 100%;
        text-align: center;
        }