.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left-section {
    text-align: center;
    width: 45%;
    margin-right: 5%;
}

.right-section {
    text-align: center;
    width: 45%;
    margin-left: 5%;
}

.about-us-img {
    width: 100%;
}

.left-section h2 {
    text-align: center;
    text-decoration: underline;
}

.right-section h2 {
    text-align: center;
    text-decoration: underline;
}

.left-section button:hover, .right-section button:hover {
    background-color: black;
    color: white;
}