.header-section .left-section h2 {
    color: black;
}
.header-section .left-section p {
    color: black;
}
.header-section .right-section .right-header h3 {
    color: green;
}
.header-section .right-section .right-header p {
    color: black;
}