.slideshow-section {
    position: relative;
    width: 90%;
    margin: 0 auto;
    }
    
    .slideshow-img {
    width: 100%;
    }
    
    .slideshow-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    }